<app-header-modal
  [title]="title"
  (closeModal)="closeModal()">
</app-header-modal>

<ion-content>
    <ion-content >
        
      
          <ion-list>
              <ion-item>
                  <ion-label position="stacked">Titulo *</ion-label>
                  <ion-input  type="text" [(ngModel)]="postCreate.titulo">
                  </ion-input>
              </ion-item>
      
      
              <ion-item>
                  <ion-label position="stacked">Obtener Ubicación</ion-label>
                  <ion-input  type="text" [(ngModel)]="postCreate.ubicacion" ><ion-button>Obtener</ion-button>
                  </ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="stacked">Descripción *</ion-label>
                  <ion-input  type="text"[(ngModel)]="postCreate.descripcion" >
                  </ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="stacked">Categoría *</ion-label>
                  <ion-input  type="text" [(ngModel)]="postCreate.categoria">
                  </ion-input>
              </ion-item>
      
<!--       
              <ion-item>
                  <ion-label position="stacked">Fecha</ion-label>
                  <ion-input  type="text">
                  </ion-input>
              </ion-item> -->

              <ion-item>
                  <ion-label position="floating">MM/DD/YYYY</ion-label>
                  <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2050-12-09" [(ngModel)]="postCreate.fecha"></ion-datetime>
                </ion-item>

              <ion-item>
                  <ion-label position="stacked">Contacto</ion-label>
                  <ion-input  type="text" [(ngModel)]="postCreate.contacto">
                  </ion-input>
              </ion-item>

      
          </ion-list>
      
          
          <ion-row class="signin">
              <ion-col>
                  <ion-button (click)="send()" color="primary" shape="full" expand="block">Enviar</ion-button>
              </ion-col>
          </ion-row>
      
    </ion-content>

</ion-content>
