<ion-header no-border translucent>
    <ion-toolbar>
  
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
  
      <ion-title class="ion-text-capitalize"> {{ title }} </ion-title>
    </ion-toolbar>
</ion-header>
