<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button (click)="selectTag('map')" class="btn-tab" tab="map">
      <ion-icon *ngIf="tagSelected !== 'map'" name="map"></ion-icon>
      <ion-icon *ngIf="tagSelected === 'map'" color="primary" name="map" class="animated fadeIn"></ion-icon>

      <ion-label *ngIf="tagSelected === 'map'" color="primary" class="tab-text animated fadeIn faster">Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="selectTag('community')" class="btn-tab" tab="community">
        <ion-icon *ngIf="tagSelected !== 'community'" name="people"></ion-icon>
        <ion-icon *ngIf="tagSelected === 'community'" color="primary" name="people"></ion-icon>

      <ion-label *ngIf="tagSelected === 'community'" color="primary" class="tab-text animated fadeIn faster">Comunidad</ion-label>
      <ion-badge class="tab-text">6</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
