.tab-text{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.search{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/assets/icon/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

