
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="contact"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="contact"></ion-icon></ion-fab-button>
    </ion-fab-list>
   
    <ion-fab-list side="start">
      <ion-fab-button><ion-icon name="add" (click)="abrirModal()"></ion-icon></ion-fab-button>
    </ion-fab-list>
   
  </ion-fab>


