<app-header-modal
  [title]="title"
  (closeModal)="closeModal()">
</app-header-modal>

<app-loader *ngIf="loader1 && loader2">
</app-loader>

<ion-content color="light" *ngIf="!loader1 && !loader2">
  <!-- <ion-label class="titulo">
      <h1> {{title}} </h1>
  </ion-label> -->
  <img src="../../../assets/shapes.svg" class="filter">
  <ion-grid>
      <ion-row>

          <ion-col size="4" class="poster-detalle-sobre">
              <ion-card class="poster">
                  <img src="../../../assets/icon/placeholder.png" class="poster">
              </ion-card>
          </ion-col>

          <ion-col>
              <ion-item>
                  <ion-icon slot="start" name="pin" color="primary"></ion-icon>
                  <ion-label>Cancún</ion-label>
                  <ion-button (click)="goToDirection()" fill="outline">
                      <ion-icon name="trending-up" color="primary"></ion-icon>
                  </ion-button>
              </ion-item>
              <ion-item>
                  <ion-icon slot="start" name="calendar" color="primary"></ion-icon>
                  <ion-label>
                      <ion-text color="danger">
                          <h5> 24/2018 </h5>
                      </ion-text>
                  </ion-label>
              </ion-item>
          </ion-col>

      </ion-row>
  </ion-grid>

  <ion-card mode="ios" color="blank">
      <ion-item>
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label>
              Subtitulo
          </ion-label>
      </ion-item>
      <ion-grid fixed>
          <ion-row>
              <ion-col size=12>
                  <ion-label> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis perferendis dolorum, quasi, eius et quod laboriosam fuga incidunt qui fugiat nam inventore illo obcaecati doloribus magnam sint odio animi numquam. </ion-label>
                  <ion-label color="primary" (click)="oculto = 5000" *ngIf="oculto !== 5000">Leer más!</ion-label>
                  <ion-label color="primary" (click)="oculto = 150" *ngIf="oculto == 5000"><br> Leer menos</ion-label>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-card>

  <ion-card mode="ios">
      <ion-item class="ion-text-wrap">
          <ion-icon name="book" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">Más: </ion-label>
      </ion-item>

      <ion-item *ngIf="userData.sol == false" class="ion-text-wrap">
          <ion-label class="ion-text-wrap"p>Agendar Cita</ion-label>
          <ion-button>
              <ion-icon name="send"></ion-icon>
          </ion-button>
      </ion-item>

      <ion-item *ngIf="userData.sol" class="ion-text-wrap">
          <ion-label class="ion-text-wrap">Solicitud enviada</ion-label>
          <ion-icon name="checkmark-circle" color="success"></ion-icon>
      </ion-item>

      <ion-item class="ion-text-wrap">
        <ion-label class="ion-text-wrap">Compartir</ion-label>
        <ion-button>
            <ion-icon name="share"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-card>

</ion-content>
