<agm-map #AgmMap
  [fitBounds]="bounds"
  [zoom]="zoom"
  [disableDefaultUI]="false" 
  [zoomControl]="false" 
  (mapClick)="mapClick($event)" 
  [latitude]="lat" 
  [longitude]="lng"
  [styles]="styles"
  [streetViewControl]="streetViewControl"
  >

    <agm-direction
      *ngIf="direction"
      [origin]="origin" 
      [destination]="destination"
      [renderOptions]="renderOptions">
    </agm-direction>

    <agm-marker
      class="animated fadeIn fast"
      [agmFitBounds]="bounds"
      *ngIf="!direction && !addSituation"
      [latitude]="myMarker.lat"
      [longitude]="myMarker.lng"
      (markerClick)="clickMarker(myMarker)"
      (dragEnd)="markDragEnd(myMarker, $event)"
      [animation]="myMarker.animation"
      (mouseOver)="markOver(myMarker)"
      (mouseOut)="markOut(myMarker)"
      [iconUrl]="myMarker.iconUrl">
      >
      
    </agm-marker>

    <agm-marker
      [markerDraggable]="markSearch.draggable"
      animation="DROP"
      (dragEnd)="markDragEnd(markSearch, $event)"
      *ngIf="markSearch.visible"
      [latitude]="markSearch.lat"
      [longitude]="markSearch.lng">

    </agm-marker>

    <div *ngFor="let m of markers; let i = index">
      <agm-marker
        [agmFitBounds]="bounds"
        *ngIf="m.visible && !direction && !addSituation"
        (markerClick)="clickMarker(m)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [markerDraggable]="m.draggable"
        (dragEnd)="markDragEnd(m, $event)"
        [animation]="m.animation"
        (mouseOver)="markOver(m)"
        (mouseOut)="markOut(m)"
        [iconUrl]="m.iconUrl"
        >
  
        <agm-info-window *ngIf="!direction">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12">
                  <strong class="marker-header-label">  {{ m.id }} </strong>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                {{ m.label }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-lg offset="6">
                <ion-button (click)="showMoreInfoMarker(m)" fill="clear" size="small">
                    <div class="text-btn-info-window">
                      Ver más
                    </div>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
            
        </agm-info-window>
        
      </agm-marker>
    </div>



    <!-- <agm-circle 
      [latitude]="lat + 0.3" 
      [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true"
      >
    </agm-circle> -->

</agm-map>

<input *ngIf="showSearchBar" class="texto-encima search" ngx-google-places-autocomplete placeholder="Buscar una ubicación" [options]="options" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

<ion-fab *ngIf="direction" vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="closeDirection()"> 
    <ion-icon name="close"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab class="animated fadeIn" *ngIf="btnCenter" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="btn-fab-item" color="light" (click)="centerMarker()">
    <ion-icon color="primary" [name]="btnCenterIcon"></ion-icon>
  </ion-fab-button>
  <ion-fab-button *ngIf="btnAdd" class="btn-fab-item"color="primary" (click)="selectMarkerSituation()">
    <ion-icon color="light" [name]="btnAddIcon"></ion-icon>
  </ion-fab-button>
  <ion-fab-button *ngIf="btnCloseAdd" class="btn-fab-item" color="success" (click)="addMarkSituation()">
    <ion-icon color="light" name="checkmark"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab class="animated fadeIn" *ngIf="btnCloseAdd" vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button class="btn-fab-item" color="danger" (click)="closeAddMarkerSituation()">
    <ion-icon color="light" name="close"></ion-icon>
  </ion-fab-button>
</ion-fab>