agm-map {
    height: 800px;
}
.marker-header-label{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    top: 10px;
}

.text-btn-info-window{
    font-size: 10px;
}

.search{
    position: absolute;
    top: 10px;
    width: 94%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}