<ion-header no-border translucent color="white">
  <ion-toolbar>
    <ion-title class="ion-text-capitalize"> {{ title }} </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="exitModal()" fill="clear" size="small">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
